@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :not(pre) > code {
        @apply px-1 py-0.5 font-mono rounded bg-neutral-900 text-yellow-200;
        font-size: 0.9em;
    }

    h1 {
        @apply mb-6 text-4xl font-bold tracking-tight md:text-5xl;
    }

    body {
        @apply bg-blue-500; /* Change this to your desired color */
    }

    .bg-grid-pattern {
        background-image: url(''); /* Adjust the path */
        background-size: cover; /* Adjust as necessary */
    }
}

body {
    @apply font-display;
}

.montserrat-custom {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

a {
    @apply underline;
}

.markdown {
    @apply mb-1;
}

.alert .markdown {
    @apply mb-0;
}

.markdown p {
    @apply mb-3;
}

.btn:disabled {
    @apply text-neutral-400 bg-neutral-700;
}

.image-button {
     position: relative;
     display: inline-block;
     transition: transform 0.3s ease, box-shadow 0.3s ease;
 }
.image-button:hover {
         transform: scale(1.05);
         box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.image-button .overlay {
         position: absolute;
         bottom: 10px;
         left: 50%;
         transform: translateX(-50%);
         background: rgba(0, 0, 0, 0.5);
         color: white;
         padding: 5px 10px;
         border-radius: 5px;
         font-size: 16px;
         opacity: 0;
         transition: opacity 0.3s ease;
}
.image-button:hover .overlay {
         opacity: 1;
}

.image-button:hover .class-name {
    color: #808080;
    background-color: rgba(128, 128, 128, 0.1);
}
.image-button img {
    transition: background 0.3s ease;
}
.image-button:hover img {
    background-color: rgba(128, 128, 128, 0.1);
}

.montserrat-custom {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}



