@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :not(pre) > code {
        @apply px-1 py-0.5 font-mono rounded bg-neutral-900 text-yellow-200;
        font-size: 0.9em;
    }

    h1 {
        @apply mb-6 text-4xl font-bold tracking-tight md:text-5xl;
    }

    body {
        @apply bg-blue-500; /* Change this to your desired color */
    }

    .bg-grid-pattern {
        background-image: url(''); /* Adjust the path */
        background-size: cover; /* Adjust as necessary */
    }
}

body {
    @apply font-display;
}

.montserrat-custom {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

a {
    @apply underline;
}

.markdown {
    @apply mb-1;
}

.alert .markdown {
    @apply mb-0;
}

.markdown p {
    @apply mb-3;
}

.btn:disabled {
    @apply text-neutral-400 bg-neutral-700;
}

.image-button {
    position: relative;
}

.image-button .image-button-hover {
    display: block;
    width: 100%;
    max-width: 300px;
    height: auto;
    transition: transform 0.3s ease-in-out;
}

.image-button:hover .image-button-hover {
    transform: scale(1.05);
}

.image-button h2 {
    margin: 0;
    padding: 0;
    transition: color 0.3s ease-in-out;
}

.image-button:hover h2 {
    color: #f0f0f0;
}

.montserrat-custom {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}



